/* Farbvariablen */
:root {
  --background-color: #000;
  --text-color: #fff; 
  --border-color: hsl(276, 100%, 79%); 
  --button-hover-color: hsl(276, 100%, 79%); 
}

/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}

html {
  scroll-behavior: smooth;
}

p {
  color: hsl(173, 81%, 68%);
}

a,
.btn {
  transition: all 300ms ease;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.img {
  border: 0.4rem var(--border-color) solid;
  border-radius: 50%;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  margin-top: 200px;
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: hsl(173, 81%, 68%);
}

.title {
  color: hsl(276, 100%, 79%);
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--text-color);
  color: var(--background-color);
  text-align: center;
  border-radius: 8px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.icon:hover {
  transform: scale(1.2);
  transition: all 300ms ease;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.btn {
  font-weight: 600;
  transition: color 300ms ease, background 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  color: var(--text-color);
  border: var(--border-color) 0.1rem solid;
  position: relative;
  overflow: hidden;
  z-index: 1;
}


.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--button-hover-color);
  transition: left 0.3s;
  z-index: -1; 
}


.btn:hover:before {
  left: 0;
}

.btn:hover {
  border-color: transparent;
  color: var(--text-color); 
  background: var(--button-hover-color);
}

.btn-color-1,
.btn-color-2 {
  cursor: pointer;
  background: var(--background-color);
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
  color: #000; 
  background: var(--button-hover-color);
}

.btn-container {
  gap: 1rem;
}
